@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Zilla+Slab:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zilla Slab', serif;
    color: black;

    h1 {
        font-family: 'Zilla Slab', serif;
        font-weight: 500;
        font-size: 2.5rem;
        color: black;
    }

    h2 {
        font-family: 'Zilla Slab', serif;
        font-weight: 500;
        font-size: 2rem;
    }

    h3 {
        font-family: 'Zilla Slab', serif;
        font-weight: 500;
        font-size: 1.5rem;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.25rem;
    }

    a {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
    }

    div {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }
}